<div class="eca-actions">
  <button mat-flat-button color="secondary" (click)="onClear()" [disabled]="clicked_records.length == 0">Clear</button>
  <button mat-flat-button color="secondary" (click)="onMarkAsPrinted()"
    [disabled]="clicked_records.length == 0">Mark as printed
  </button>
  <button mat-flat-button color="primary" (click)="onPrintPreviewNewTab()"
    [disabled]="clicked_records.length == 0">Print {{ clicked_records.length }} records
  </button>
</div>
<h5>This app is currently in preview mode</h5>
<h1>Printing Queue</h1>
<mat-form-field>
  <mat-label style="font-weight: bold">Printout</mat-label>
  <mat-select (selectionChange)="onStatusOrPrintoutChange(pageParams)"[(ngModel)]="selected_printout">
    <mat-option *ngFor="let print of printout" [value]="print">{{ print }}</mat-option>
  </mat-select>
</mat-form-field>
<mat-form-field>
  <mat-label style="font-weight: bold">Status</mat-label>
  <mat-select (selectionChange)="onStatusOrPrintoutChange(pageParams)"[(ngModel)]="selected_status">
    <mat-option *ngFor="let stat of status" [value]="stat">{{ stat }}</mat-option>
  </mat-select>
</mat-form-field>

<ng-container 
  *ngIf="printing_queue.length > 0; then printouts; else noprintouts"
></ng-container>

<ng-template #noprintouts>
  <div id="emptyList">
    <span class="uxf-icon uxf-list" style="font-size: 3em;"></span>
  </div>
</ng-template>

<ng-template #printouts>
  <mat-checkbox #checkAll (change)="checkOrUncheckAll($event.checked)">Check/Uncheck All</mat-checkbox>
  <mat-checkbox #checkboxes *ngFor="let page of printing_queue" [value]="page" (change)="onRecordClick($event)" [ngModel]="isChecked(page)">
    {{ page.printout }} ({{ page.date | date: 'dd/MM/yyyy HH:mm:ss' }}) - {{ page.status.desc }}
  </mat-checkbox>
</ng-template>

<mat-paginator 
#pageParams
[length]="total_records"
[pageSize]="10"
[pageSizeOptions]="[10, 25, 50]"
(page)="page($event)"
>
</mat-paginator>  


<div class="loading-shade" *ngIf="loading">
  <mat-spinner diameter="50"></mat-spinner>
</div>